* {
    font-family: Inter !important;
}

:root {
    --background-primary: #FFF;
    --primary-surface: #E2EBE1;
    --primary-main: #227519;
    --primary-secondary: #6A9F5F;
    --neutral-100: #0A0A0A; 
    --hero-h1: 40px;
    --space-between: 20px;
    --background-service: #F5F5F5;
}
